{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}book title list{% endblock title %}

{% block content %}

    <h1 class="text-slate-800 dark:text-gray-50 text-5xl font-bold p-4 rounded-lg">Book Title List: </h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.title|add_class:'bg-gray300 text-blue-700 p-3 rounded-lg font-bold'}}
        
        <button type="submit" class="p-3 bg-blue-500 text-white rounded-md pl-4 pr-4">Send</button>
    </form>

    {% if qs %}
        <ul>
            {% for elmnt in qs %}
                <li><a href="{{elmnt.get_absolute_url}}">{{ elmnt.title }}</a></li> {% comment "" %}el.get_absolute_url comes from books/models {% endcomment %}
            {% endfor %}
        </ul>
    {% endif %}

    {% endblock content %}

