{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}book title list{% endblock title %}

{% block content %}
   
    {% include "components/header.html" with title="Book Titles" description="List of all the book titles available" %}

    {% comment %} Alerta de confirmacion en creacion del formulario {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                {% include 'components/alert.html' with is_info=True title="Success" body=message %}
            {% elif 'error' in message.tags %}
                {% include 'components/alert.html' with is_info=False title="Error" body=message %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="flex flex-col items-center justify-center my-4">
        <h1 class="text-slate-800 dark:text-gray-50 text-3xl font-bold p-4 rounded-lg">Add a New Book:</h1>
        <button id="openModalButton" class="bg-blue-500 text-white font-bold py-2 px-4 rounded mt-4">
            Open Form
        </button>
    </div>

    <div id="myModal" class="hidden flex fixed inset-0 bg-gray-600 bg-opacity-90 items-center justify-center w-full h-full">
        <form action="" method="POST" class="bg-white rounded-lg dark:bg-gray-900 p-8 w-11/12 md:w-3/4 lg:w-1/2">
            {% csrf_token %}
            
            <div class="mb-2 pt-2 pb-2">
                <h2 class="text-slate-800 dark:text-gray-50 text-3xl font-bold rounded-lg mb-8">Add a New Book:</h2>
                
                {% for field in form %} 
                    <div class="mb-4"> <label class="block text-slate-700 text-lg font-bold mb-2 dark:text-slate-400" for="{{ field.id_for_label }}">{{ field.label }}</label> 
                        {% render_field field class="bg-slate-100 dark:bg-slate-700 dark:text-slate-300 text-slate-800 rounded-lg p-3 drop-shadow-xl w-full" %} 
                    </div> 
                {% endfor %} 
            
                <div class="flex justify-center space-x-2">
                    <button type="submit" class="w-full sm:w-1/3 md:w-1/6 p-3 bg-blue-500 text-white rounded-lg mt-4 hover:bg-yellow-300 hover:text-slate-800">Send</button>
                    <button type="reset" id="closeModalButton" class="w-full sm:w-1/3 md:w-1/6 p-3 bg-red-500 text-white rounded-lg mt-4 hover:bg-red-700">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex flex-col items-center my-4">

        <!-- Contenedor para la Barra de Búsqueda -->
        <div class="flex flex-col items-center mb-4">
            <h1 class="text-slate-800 dark:text-gray-50 text-3xl font-bold p-4 rounded-lg">Book Title List:</h1>
            <div class="flex items-center border border-white rounded-lg mt-2">
                <span class="px-2">
                    <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10a4 4 0 101.9 3.3L14.4 17H15v-1.6l-4.5-4.5a4 4 0 00-.5-5.9z"></path></svg>
                </span>
                <input type="text" id="searchInput" placeholder="Search titles..." class="px-3 py-1 border border-white ">
            </div>
        </div>

        <!-- Contenedor para las Letras -->
        <div class="grid grid-cols-9 sm:grid-cols-12 md:grid-flow-col-dense gap-1">
            {% for letter in letters %}
                <a href="#" data-letter="{{ letter }}" class="px-1 py-1 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    {{ letter }}
                </a>
            {% endfor %}
        </div>

        {% if qs %}
            <div class="flex justify-start mt-4">
                <ul class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 bg-transparent borderrounded-lg p-4">
                    {% for elmnt in qs %}
                    <li class="book-item border border-white rounded-lg p-2" data-title-letter="{{ elmnt.title.0|lower }}">
                        <a href="{{ elmnt.get_absolute_url }}" class="text-lg text-slate-800 dark:text-gray-50 hover:text-blue-500">
                            {{ elmnt.title|capfirst }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>
    
    <script src="{% static 'js/search_books_app.js' %}"></script>
    <script src="{% static 'js/show_form_books_app.js' %}"></script>

{% endblock content %}