{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block title %}] Book Title List{% endblock title %}

{% block content %}

    {% comment %} Alerta de confirmacion en creacion del formulario {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                {% include 'components/alert.html' with is_info=True title="Success" body=message %}
            {% elif 'error' in message.tags %}
                {% include 'components/alert.html' with is_info=False title="Error" body=message %}
            {% endif %}
        {% endfor %}
    {% endif %}


    {% include "components/header.html" with title="Book Mannager" description="Create and Search for all the book titles available" if_form_available=True icon="<i class='fa-solid fa-plus'></i>" %}

    <div id="myModal" class="hidden">
        <div class="flex fixed inset-0 bg-gray-600 bg-opacity-90 items-center justify-center">
            <form action="" method="POST" class="bg-white rounded-lg dark:bg-gray-900 p-8 w-11/12 md:w-3/4 lg:w-1/2">
                {% csrf_token %}
                
                <div class="mb-2 pt-2 pb-2">
                    <h3 class="text-slate-800 dark:text-gray-50 text-3xl font-bold rounded-lg mb-8">Add a New Book:</h3>
                    
                    {% for field in form %} 
                        <div class="mb-4"> <label class="block text-slate-700 text-lg font-bold mb-2 dark:text-slate-400" for="{{ field.id_for_label }}">{{ field.label }}</label> 
                            {% render_field field class="bg-slate-100 dark:bg-slate-700 dark:text-slate-300 text-slate-800 rounded-lg p-3 drop-shadow-xl w-full" %} 
                        </div> 
                    {% endfor %} 
                
                    <div class="flex justify-center space-x-2">
                        <button type="submit" class="w-full sm:w-1/3 md:w-1/6 p-3 bg-blue-500 text-white rounded-lg mt-4 hover:bg-yellow-300 hover:text-slate-800">Send</button>
                        <button type="reset" id="closeModalButton" class="w-full sm:w-1/3 md:w-1/6 p-3 bg-red-500 text-white rounded-lg mt-4 hover:bg-red-700">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Contenedor para la Barra de Búsqueda -->
    <div class="flex flex-col items-center justify-center lg:justify-start lg:flex-row mb-6 w-full">
        <h3 class="text-2xl rounded-lg lg:mr-6 mb-6 lg:mb-0">Search:</h3>
        <div class="flex items-center border border-slate-800 dark:border-white bg-transparent rounded-lg w-full">
            <span class="px-2">
                <svg class="w-6 h-6 text-slate-800 dark:text-slate-100" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 14.5l5 5-5-5zm-6 0a5 5 0 115-5 5 5 0 01-5 5z"></path>
                </svg>
            </span>
            <input type="text" id="searchInput" placeholder="Search titles..." class="px-4 py-2 w-full dark:bg-transparent">
        </div>
    </div>

    <!-- Contenedor para las Letras -->
    
    <div class="flex flex-col items-center justify-center lg:justify-start lg:flex-row mb-8 w-full">
        <div class="grid grid-cols-9 md:grid-cols-14 lg:grid-cols-27 gap-2">
            <a href="{% url 'books:main' %}" class="{% if letter == selected_letter %} dark:bg-purple-600 bg-green-600 {% endif %} text-center px-2 py-.5 bg-blue-500 text-xs sm:text-base text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                All
            </a>
            {% for letter in letters %}
                <a href="{% url 'books:main' letter %}" class="{% if letter == selected_letter %} bg-green-700 dark:bg-purple-600 {% endif %} text-center px-1.5 py-.5 bg-blue-500 text-xs sm:text-base text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    {{ letter|upper }}
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Mostrar Listado de libros cada 36 elementos -->

    <div class="flex flex-col mb-6 w-full">
        <div class="bg-gradient-to-r from-blue-500 via-green-600 to-teal-400 text-white dark:bg-gradient-to-r dark:from-indigo-600 dark:via-purple-600 dark:to-pink-600 dark:text-white rounded-xl p-5">
            {% if qs %}
                <h3 class="text-2xl font-bold rounded-lg mb-3 text-center text-white">-Book Titles-</h3>
                <div class="flex flex-col items-center justify-center lg:flex-row mb-6 w-full">
                    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 bg-transparent borderrounded-lg p-4">
                        {% for elmnt in qs %}
                            <li class="book-item border bg-slate-800/20 hover:bg-purple-600 dark:hover:bg-green-600 border-white rounded-lg flex justify-center items-center">
                                <a href="{{ elmnt.get_absolute_url }}" class="text-lg text-white text-center h-full w-full p-2">
                                    {{ elmnt.title|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <h3 class="text-2xl rounded-lg mb-3 text-center text-white">There are no books that start with the letter: {{ selected_letter|upper }}</h3>
            {% endif %}

            <!-- Paginación -->

            <div class="flex justify-center items-center space-x-4 my-4">
                <div class="bg-blue-500 p-2 rounded-lg ">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="px-3 py-1 hover:text-blue-700">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 hover:text-blue-700">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}
                
                    <span class="px-3 py-1">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 hover:text-blue-700">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-1 hover:text-blue-700">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    
    <script src="{% static 'js/search_books_app.js' %}"></script>
    <script src="{% static 'js/show_form_books_app.js' %}"></script>

{% endblock content %}