{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if request.session.is_dark_mode %}dark{% endif %}">
	<head>
    <title>Django Tailwind {% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- font-awesome : https://cdnjs.com/libraries/font-awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		<script src="{% static 'main.js' %}" defer></script>
		{% block scripts %}{% endblock scripts %}

		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 dark:bg-slate-800 dark:text-white">
		{% include "layout/navbar.html" %}
		<div class = "grid grid-cols-12 mr-6">
			<div class="col-span-1">
				{% include "layout/sidebar.html" %}
			</div>
			<div class="col-span-11 lg:ml-6 md:ml-6">
				<div class = "pt-20">
					{% block content %}{% endblock content %}
				</div>
			</div>
		</div>

	</body>
</html>
